[user]
  name = tako
  email = rina.m.takase@gmail.com
[alias]
  st = status
  co = checkout
  cb = checkout -b
  l = log --oneline -3
  commend = commit --amend
[push]
	default = current
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[ghq]
  root = ~/src
[init]
	templatedir = ~/dotfiles/.git_template
[github]
	user = takose
	privatekey = /Users/tako/.ssh/id_rsa
