[user]
  name = tako
  email = rina.m.takase@gmail.com
[alias]
  st = status
[push]
  default = simple
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[ghq]
  root = ~/src
[init]
	templatedir = ~/dotfiles/.git_template
